.bgimg{
    background-image: url('../img/body.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 520px;
}

.navbar a:hover{
    background-color: rgba(241, 236, 236, 0.329);
    }
.navbar-brand{
    height: 35px;
    width:40px;
    padding-top: 0px;
}
.headerset{
    padding-top :200px;
    box-sizing: border-box;
}

.headerset h2{
    font-size: 42px;
    
}
.headerset h1{
    font-size: 72px;
    font-weight: bold;
    stroke: maroon;
}

/* .......................ourservices................. */
.ourservices{
    padding:100px 0px 60px;
    height:700px;
}
.ourservices h1{
    font-size: 50px;
    font-weight: bold;
}

.rowsetting{
    margin: 80px 0px !important;
}
.rowsetting h2{
    margin-top: 20px;
    font-weight: bold;
    font-size: 30px;
}
.rowsetting p{
    color:#26cdb7;
    padding:10px;
}

.imgsetting{
    border-radius:50%;
    height:100px;
    width:100px;

}

.fa-map{
    margin-top: 20px;
}
.fa-home{
    margin-top: 20px;
}

.fa-handshake-o{
    margin-top:20px;
}

/* ..................portfolio............... */
.portfolio{
    height:1100px;
    width:100%;
    padding:40px 20px;
    margin-bottom: 10px;

}

.portfolio h2{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card{
    margin-top:40px;
    
}
.card-image{
    height:180px;
}
.card-title{
    font-size: 18px;
    font-weight: bold;
}


/* .................footer.........  */

.footer-top{
    padding : 25px 0px 50px;
}

.navbar-nav{
    color: papayawhip;
    text-align: center;
    size: 20px;

}


.d-block{

    height:490px;
}


.carousel-caption h2{
    font-size: 40px;
    background-color: darkgray;
    opacity: 0.4;
    color:blue;
    outline-color: red;
}


label{
    font-size: 16px;
    font-weight: bold;
    padding: 0px;
}